@import url(https://fonts.googleapis.com/css?family=Nerko+One:regular);

body {
  background-color: #900dff;

  margin: 2em;
}

.title {
  font-family: Nerko One, sans-serif;
  font-size: 3em;
  text-align: center;
  color: white;
  font-display: swap;
}
